/* 1. Base font reset */
@import url("/css/base/fonts-reset.css");

/* 2. Global reusable components */
@import url("/css/components/buttons.css");

/* 3. Global layout components */
@import url("/css/layout/navbar.css");
@import url("/css/layout/footer.css");

@import url("/css/components/headings.css");

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 20px;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/assets/img/bg-img/bg-2.png") no-repeat center center/cover;
}

.overlay h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.overlay p {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 1rem;
}

.overlay a {
  margin-top: 1rem;
}

.who-we-are {
  padding: 2rem 5rem;
}

.two-column {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.text h1 {
  font-size: 3rem;
  margin-bottom: 1.8rem;
}

.text p {
  font-size: 1.2rem;
  line-height: 2;
}
